<form [formGroup]="form" (ngSubmit)="submit()" class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tipo</mat-label>
    <mat-select formControlName="type">
      <mat-option value="espiral">Espiral</mat-option>
      <mat-option value="elíptica">Elíptica</mat-option>
      <mat-option value="irregular">Irregular</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Distancia (millones AL)</mat-label>
    <input matInput type="number" formControlName="distanceMillionsLy">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Estrellas (estimadas)</mat-label>
    <input matInput type="number" formControlName="starsEstimate">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Constelación</mat-label>
    <input matInput formControlName="constellation">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fecha de descubrimiento</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="discoveredOn">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Guardar galaxia</button>
</form>
